.project
target/
.git
.metadata
*.jar
*.war
*.class
.settings/**
target/**
bin/**
.classpath
.project
*.idea
*.iml
.classpath
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.component
.gitignore
