.project
target/
/user.properties
/.git
/.metadata
*.jar
*.war
*.class
*/.settings/**
*/target/**
*/bin/**
*/.classpath
*/.project
*.idea
*.iml
ShippingStandalone/dependency-reduced-pom.xml
ShippingAdminWeb/user.properties
ShippingAdminWeb/${shipping.webapp.home}/
ShippingAdminWeb/user.properties
ShippingServices/test-output/
ShippingWeb/${shipping.webapp.home}/
ShippingAdminWeb/${shipping.admin.webapp.home}/
ShippingAdminWeb/${shipping.webapp.home}/
ShippingWeb/${shipping.webapp.home}/
ShippingWeb/pom.xml~
ShippingWeb/src/main/webapp/static/css/snapdeal/style.css~
SnapdealShippingClient/pom.xml~
antbuild-admin.xml~
new.user.properties~
pom-admin.xml~
pom-with-Standalone.xml~
pom.xml~
${tomcat.home}/
ShippingWeb/.settings/org.eclipse.jdt.core.prefs
ShippingAdminWeb/src/main/webapp/static/js/chosen/chosen.jquery.min.js~
ShippingServices/test-output/
pom.xml.bak
bin/**
.idea
.settings/org.eclipse.core.resources.prefs
SnapdealShippingClient/.settings/org.eclipse.jdt.core.prefs
ShipTogether/ShipTogether.iml
ShippingBase/ShippingBase.iml
ShippingCore/ShippingCore.iml
ShippingDataAccessServices/ShippingDataAccessServices.iml
ShippingServices/ShippingServices.iml
ShippingWeb/ShippingWeb.iml
ShippingWebCommon/ShippingWebCommon.iml
Snapdeal.iml
ShippingProviderWeb/user.properties
